*{
    padding: 0;margin: 0;box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header__navbar{
    display: flex;
    &__option{
        display:flex;
        margin-left:5px;
    }
    &__logo{display:flex;
        align-items: center;
    }
    justify-content: space-around;
    align-items: center;
}
